@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var x in Model.Movies)
    {
        <h1>@x.Title</h1>
        <span>@x.Description</span>
        <i>Genre: @x.GenreId</i>
    }
</div>